@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary-red: hsl(0, 78%, 62%);
    --primary-Cyan: hsl(180, 62%, 55%);
    --primary-Orange: hsl(34, 97%, 64%);
    --primary-Blue: hsl(212, 86%, 64%);
    --neutral-Very-Dark-Blue: hsl(234, 12%, 34%);
    --neutral-Grayish-Blue: hsl(229, 6%, 66%);
    --neutral-Very-Light-Gray: hsl(0, 0%, 98%);
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    line-height: 1.5;
}

/* LAYOUT */

.container {
    width: 85vw;
    height: fit-content;
    margin-top: 1.25rem;
}

.container__intro {
    text-align: center;
}

.container__services-card {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(100px, auto);
    row-gap: 1.5625rem;
    margin-top: 2.8125rem;
}

.card {
    width: 100%;
    padding: 1.5625rem 1.125rem;
    overflow: hidden;
    border-radius: 8px;
    background: var(--neutral-Very-Light-Gray);
    box-shadow: 2px 6px 16px var(--neutral-Grayish-Blue);
}

.card-icon {
    display: flex;
    justify-content: flex-end;
    margin-top: 1.5625rem;
}

.card--cyan {
    border-top: 5px solid var(--primary-Cyan);
}

.card--red {
    border-top: 5px solid var(--primary-red);
}

.card--orange {
    border-top: 5px solid var(--primary-Orange);
}

.card--blue {
    border-top: 5px solid var(--primary-Blue);
}


/* TYPOGRAPHY */

.intro--title {
    font-weight: 200;
    font-size: 1.75rem; 
    color: var(--neutral-Very-Dark-Blue);
    opacity: 0.7;
}

.intro--subtitle {
    font-size: 1.5625rem; 
    font-weight: 600;
    /* color: var(--neutral-Very-Dark-Blue); */
    background: #EA5353;
    background: -webkit-linear-gradient(to right, #EA5353 22%, #45D3D3 52%, #FCAF4A 82%);
    background: -moz-linear-gradient(to right, #EA5353 22%, #45D3D3 52%, #FCAF4A 82%);
    background: linear-gradient(to right, #EA5353 22%, #45D3D3 52%, #FCAF4A 82%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 16px;
}

.intro--description {
    font-weight: 200;
    color: var(--neutral-Grayish-Blue);
}

.card-title {
    font-size: 1.0625rem; 
    color: var(--neutral-Very-Dark-Blue);
    font-weight: 600;
    margin-bottom: 10px;
}

.card-description {
    font-size: 0.8125rem;
    font-weight: 200;
    color: var(--neutral-Grayish-Blue);
}

/* MEDIA QUERIES */

@media screen and (min-width: 769px) {

    body {
        font-size: 16px;
    }

    .container {
        width: 70vw;
        margin-top: none;
    }

    .container__intro {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .intro--description {
        width: 60%;
    }

    .card--cyan {
        grid-area: cyancard;
        align-self: center;
    }

    .card--blue {
        grid-area: bluecard;
        align-self: center;
    }

    .card--orange {
        grid-area: orangecard;
    }

    .card--red {
        grid-area: redcard;
    }

    .container__services-card {
        display: grid;
        grid-template-areas: 
        "cyancard redcard bluecard"
        "cyancard orangecard bluecard";
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: minmax(100px, auto);
        gap: 1.25rem;
    }

    .card {
        transition: all 150ms ease-in-out;
    }

    .card:hover {
        transform: translateY(-0.625rem);
        cursor: pointer;
    }

    .card:hover .widget {
        transition: transform 850ms ease-in-out;
    }

    .card:hover .widget {
        transform: rotateY(360deg);
    }
}